# Fichiers générés par Helm
*.tgz
*.tar.gz
charts/*/Chart.lock

# Fichiers de dépendances Helm
charts/*/charts/

# Fichiers de l'IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Fichiers de build
dist/
build/

# Fichiers temporaires
*.tmp
*.log
# keep lab evidences
!labs/**/evidence/*.log
historylevel3.txt

# local debug
_debug/

# local debug / history
_debug/
bash_history_full.txt
history*.txt
