{{- if .Values.networkPolicy.enabled -}}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "fullstack-ocp.fullname" . }}-netpol
  labels:
    {{- include "fullstack-ocp.labels" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      {{- include "fullstack-ocp.selectorLabels" . | nindent 6 }}
  policyTypes:
  - Ingress
  - Egress
  ingress:
  - from:
    - namespaceSelector:
        matchLabels:
          name: openshift-ingress
    ports:
    - protocol: TCP
      port: 80
    - protocol: TCP
      port: 443
  egress:
  - to:
    - namespaceSelector: {}
    ports:
    - protocol: TCP
      port: 53
    - protocol: UDP
      port: 53
  - to:
    - podSelector:
        matchLabels:
          {{- include "fullstack-ocp.selectorLabels" . | nindent 10 }}
    ports:
    - protocol: TCP
      port: 5432
{{- end }}
