apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: myapp-prod
  namespace: openshift-gitops
spec:
  project: default
  source:
    repoURL: https://github.com/zdmooc/helm-openshift-roadmap
    targetRevision: HEAD
    path: charts/myapp-ocp
    helm:
      values: |
        replicaCount: 3
        image:
          repository: nginx
          tag: "1.21.0"
        service:
          type: ClusterIP
          port: 80
        route:
          enabled: true
          host: myapp-prod.apps.crc.testing
        resources:
          limits:
            cpu: 500m
            memory: 512Mi
          requests:
            cpu: 250m
            memory: 256Mi
  destination:
    server: https://kubernetes.default.svc
    namespace: myapp-prod
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
