apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: helm-roadmap
  namespace: openshift-gitops
spec:
  project: default
  source:
    repoURL: https://github.com/zdmooc/helm-openshift-roadmap
    targetRevision: HEAD
    path: gitops/argocd-apps
  destination:
    server: https://kubernetes.default.svc
    namespace: openshift-gitops
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
